body{
    display: flex;
    justify-content: center;
}

#main{
    margin-top: 100px;
    display: grid;
    grid-template-rows: 150px auto;
    width: 550px;
    height: 700px;
    border: 20px black solid;
    gap: 30px;
    padding: 20px;
    
    
}
#top{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
#bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap:10px;

}

.item{
    background-color: rgb(162, 162, 240);
}
#bottom.item{
}