body{
    display: flex;
    justify-content: center;
}

#main{
    margin-top: 100px;
    background-color: rgb(203, 203, 203);
    display: grid;
    grid-template-rows: 150px auto;
    width: 550px;
    height: 700px;
    border: 20px rgb(74, 65, 65) solid;
    border-radius: 20px;
    gap: 30px;
    padding: 20px;
    
}
#top{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
#bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap:10px;

}

.item{
    background-color: rgb(249, 255, 193);
    border-radius: 10px;
    font-size: 30px;
}
.item-clear{
    background-color: rgb(212, 111, 111);
}
.item-display{
    background-color: rgb(236, 232, 232);
    font-size: 20px;
    font-family: 'Digital Numbers', sans-serif;
    margin:0;                                        
}
#bottom.item{
}